In [1]:
import pandas as pd
import os

In [2]:
def SMILESFromDf(df):
    x = df['ids']
    for i in range(len(x)):
        x[i] = x[i] + '.smi' 
    
    y = df['SMILES']
    
    for i in range(len(x)):
         with open(x[i], 'a') as f:
                f.write(y[i])

In [3]:
def xyzFromList(df):
    x = df['ids']
    for i in range(len(x)):
        x[i] = x[i] + '.xyz'
        
    file = open("data_MMFF94.txt", 'r')
    Lines = file.readlines()
    
    ind = [None]*75
    j = 0

    for i in range(len(Lines)):
        if(len(Lines[i]) != 0):
            if(Lines[i][0] == "0" or Lines[i][0] == "1" or Lines[i][0] == "2" or Lines[i][0] == "3" 
               or Lines[i][0] == "4" or Lines[i][0] == "5" or Lines[i][0] == "6" or Lines[i][0] == "7" 
               or Lines[i][0] == "8" or Lines[i][0] == "9"):
                ind[j] = i
                j += 1

    ind[74] = len(Lines)
    
    for i in range(len(x)):
        for j in range(ind[i], ind[i + 1]):
            with open(x[len(x) - i - 1], 'a') as f:
                    f.write(Lines[j])

In [6]:
df = pd.read_csv('data.csv')
df

,ids,Cc,SMILES,Ionic/Non-Ionic
0,C6EO2,2.40,CCCCCCOCCO,Non-Ionic
1,C6EO3,0.10,CCCCCCOCCOCCO,Non-Ionic
2,C6EO4,-1.60,CCCCCCOCCOCCOCCO,Non-Ionic
3,C8EO3,1.80,CCCCCCCCOCCOCCO,Non-Ionic
4,C8EO4,0.30,CCCCCCCCOCCOCCOCCO,Non-Ionic
...,...,...,...,...
70,Ziegler C14 0PO3EO Carboxylate,-1.70,CCCCCCCCCCCCCCOCCOCCOCCC(=O)O,Non-Ionic
71,Sodium naphthenate,-2.40,CCC1CCC(C1)CCC(=O)[O-].[Na+],Ionic
72,Dodecanol,0.20,CCCCCCCCCCCCO,Non-Ionic
73,810FD-5 Ethoxylate,-0.45,CCCCCCCCCOCCOCCOCCOCCOCCO,Non-Ionic
74,AMA,-0.93,CC(=C)C(=O)OCC=C,Non-Ionic

In [7]:
SMILESFromDf(df)

C:\Users\Nick\anaconda3\envs\MatDeepLearn\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

OSError: [Errno 22] Invalid argument: 'Rhamnolipid 50:50 R1:R2.smi'

In [8]:
df = pd.read_csv('targets.csv')

xyzFromList(df)

C:\Users\Nick\anaconda3\envs\MatDeepLearn\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

FileNotFoundError: [Errno 2] No such file or directory: 'data_MMFF94.txt'

In [ ]:
xyzFromList(df)